@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}
#Ellipse{
    fill: red !important;
}
html{
    scroll-behavior: smooth;
}
/*body{*/
/*    height: 300vh;*/
/*}*/
@font-face {
    font-family: 'inter-black';
    src: url('./fonts/Inter-Black.ttf')
}

@font-face {
    font-family: 'inter-bold';
    src: url('./fonts/Inter-Bold.ttf')
}

@font-face {
    font-family: 'inter-regular';
    src: url('./fonts/Inter-Regular.ttf')
}

@font-face {
    font-family: 'inter-medium';
    src: url('./fonts/Inter-Medium.ttf')
}

@font-face {
    font-family: 'inter-light';
    src: url('./fonts/Inter-Light.ttf')
}
@font-face {
    font-family: 'extra-light';
    src: url('fonts/Poppins-ExtraLightItalic.ttf')
}

.inter-black{
    font-family: 'inter-black', sans-serif;
}

.inter-bold{
    font-family: 'inter-bold', sans-serif;
}

.inter-regular{
    font-family: 'inter-regular', sans-serif;
}

.inter-medium{
    font-family: 'inter-medium', sans-serif;
}

.inter-light{
    font-family: 'inter-light', sans-serif;
}
.popins-extraLight{
    font-family: 'extra-light', sans-serif;
}
.nav-item{
    position: relative;
}

.nav-item::after {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #DB4444;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
}

.alice-carousel__dots{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}